/*
 * 扩展 CSS
*/

body {
    background-color: #21ff0012;
}
h1,
h2,
h3 {
    border-left: 4px solid #2FA4E7;
    padding-left: 8px;
}

h3 {
    border-left: 4px solid #6ec1f17d
}
.container p, .container pre {
    margin-bottom: 30px;
}

.col-md-9 img {
    display: block;
}